<nav class="py-6 flex px-6 justify-between bg-violet-400">
    <div class="space-x-4">
        <a href="{% url 'core:index' %}" class="text-white">Ishan CRM</a>
        <a href="{% url 'core:contact_us' %}" class="text-white">Contact Us</a>
    </div>

    <div class="space-x-4">
        <a href="{% url 'core:about_us' %}" class="text-white">About Us</a>
        <a href="#" class="py-4 px-6 bg-violet-600 rounded-xl text-white">Login</a>
        <a href="#" class="py-4 px-6 bg-violet-300 rounded-xl text-white">Signup</a>
    </div>
</nav>