{% extends "base/base.html" %}
{% block title %}{{lead.name}}{% endblock %}

{% block body %}
<div class="w-1/2 bg-violet-200 rounded-xl px-6 py-6 ml-auto mt-3 mr-auto mb-3">
    {% if lead.converted_into_clients %}
    <div class="py-4 px-4 bg-violet-400 rounded-xl text-white">
        <h1 class="text-2xl font-bold">This lead has been converted into client</h1>
    </div>
    {% endif %}
    <h1 class="text-2xl font-bold text-center mb-2">
        {{lead.name|title}}
    </h1>
    {% if lead.description %}
        <p class="font-semibold">Description</p>
        <p>{{lead.description}}</p>
    {% endif %}
    <p class="font-semibold">Priority</p>
    <p class="mb-2">{{ lead.get_priority_display }}</p>
    
    <p class="font-semibold">Status</p>
    <p class="mb-2">{{ lead.get_status_display }}</p>

    <p class="font-semibold">Team</p>
    <p class="mb-2">{{ lead.team }}</p>

    <p class="font-semibold">Created At</p>
    <p class="mb-2">{{ lead.created_at|timesince }} ago</p>

    <p class="font-semibold">Modified At</p>
    <p class="mb-6">{{ lead.modified_at|timesince }} ago</p>

    <a href="{% url 'lead:leadList' %}" class="bg-violet-400 text-white py-4 px-6 rounded-xl">Back to List</a>
    <a href="{% url 'lead:leadDelete' lead.id %}" class="bg-violet-400 text-white py-4 px-6 rounded-xl">Delete</a>
    {% if not lead.converted_into_clients  %}
    <a href="{% url 'lead:leadUpdate' lead.id %}" class="bg-violet-400 text-white py-4 px-6 rounded-xl">Update</a>
    <a href="{% url 'lead:leadToClient' lead.id %}" class="bg-violet-400 text-white py-4 px-6 rounded-xl">Convert to Client</a>
    {% endif %}
 
</div>
{% endblock %}